
<%- include('./partials/header.ejs') %>

<main class="discover"> 
    <header>
        <h2>Discover stories</h2>
    </header>
    
    <ol class="storiesList">
        <% discoverList.forEach(story => { %>
            <li class="in-view"> 
                <div class="window_wrap">
                    <div class="window_img_cont">
                        <div class="window_img_inner">
                            <img src="<%- story.collage_image.url %>" alt="<%- story.collage_image.alt %>" loading="lazy" width="350px" height="300px">
                        </div>
                    </div>
                    <img class="window door window_L" srcset="/images/window_L.webp" src="/images/window_L.png" alt="window left side Ilojo bar" width="354px" height="525px" draggable="false" />
                    <img class="window door window_R" srcset="/images/window_R.webp" src="/images/window_R.png" alt="window right side Ilojo bar" width="354px" height="525px" draggable="false"/>
                    <img class="window window_bg" srcset="/images/window_bg.webp" src="/images/window_bg.png" alt="window Ilojo bar" width="354px" height="525px" draggable="false" />
                </div>
                <h3><%- story.title %></h3>
                <a href="<%- story.url %>" aria-label="<%- story.title %>" class="btn_a">Discover</a>
            </li>
       <% }); %>
    </ol>
</main>

<script defer src="/js/lib/gsap.js"></script>
<script defer src="/js/discover.js"></script>


