<script defer src="/js/lib/gsap.min.js"></script>
<script defer src="/js/lib/ScrollTrigger.min.js"></script>
<script defer src="/js/scrollingStory.js"></script>

<%- include('./partials/header.ejs') %>

<main class="story">
    

    <article>
        <%- ctx.prismicH.asHTML(storyData.title) %>

        <% alineas.forEach(alinea => { %>
            <section id="<%= alinea.alinea_id %>">
                <% if(alinea.image.url){ %>
                    <div class="alinea_image">
                        <img src="<%= alinea.image.url %>">
                    </div>
                <% } %>
                
                <div>
                    <%- ctx.prismicH.asHTML(alinea.subtitle) %>
                    <%- ctx.prismicH.asHTML(alinea.alinea) %>

                    <% if(alinea.alinea_id == "wreckingBall"){ %>
                        <div class="wrecker"></div>
                    <% } %>
                    </div>
            </section>
       <% }); %>

       <div class="next_prev_cont" >
            <% if(previous){ %>
                <a href= <%-previous.url%> class="btn_a back">< Previous</a>
            <% } %>
            <% if(next){ %>
                <a href= <%-next.url%> class="btn_a next">Next ></a>
            <% } %>
        </div>
    </article>
</main>

