<%- include('./partials/header.ejs') %>

<button type="button" class="backBtn">
    <a href="/discover">
        <img src="/images/arrow.png">
    </a>
</button>

<main class="story">
    <%- ctx.prismicH.asHTML(storyData.title) %>
    <%- ctx.prismicH.asHTML(storyData.content) %>

    <div class="next_prev_cont" >

        <% if(previous){ %>
            <button class="back">
                <a href= <%-previous.url%> class="btn_a"> < Previous</a>
            </button>
        <% } %>
        <% if(next){ %>
            <button class="next">
                <a href= <%-next.url%> class="btn_a">Next ></a>
            </button>
        <% } %>
    </div>
</main>


