<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js"></script>

<%- include('./partials/header.ejs') %>

<script defer src="/js/horizontalScroll.js"></script>

<main class="discover"> 
    <header>
        <h2>Discover stories</h2>
    </header>
    
    <ol class="storiesList">
        <% discoverList.forEach(story => { %>
            <li> 
                <div class="window_wrap">
                    <div class="window_img_cont">
                        <div class="window_img_inner">
                            <% console.log(story.collage_image) %>
                            <img src="<%- story.collage_image.url %>" alt="<%- story.collage_image.alt %>">
                        </div>
                    </div>
                    <img class="window door window_L" src="/images/window_L.png" />
                    <img class="window door window_R" src="/images/window_R.png" />
                    <img class="window window_bg" src="/images/window_bg.png" />
                </div>
                <h3><%- story.title %></h3>
                <a href="<%- story.url %>" aria-label="<%- story.title %>" class="btn_a">Discover</a>
            </li>
       <% }); %>
    </ol>
</main>


